
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2.2em;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2a2a;
    transition: 0.4s;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 20px;
    left: 0.5em;
    bottom: 0.5em;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
    box-shadow: inset 8px -4px 0px 0px #fff;
  }
  
  .switch input:checked + .slider {
    background-color: #00a6ff;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.8em);
    box-shadow: inset 15px -4px 0px 15px #ffcf48;
  }
  
  .star {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 5px;
    transition: all 0.4s;
    height: 5px;
  }
  
  .star_1 {
    left: 2.5em;
    top: 0.5em;
  }
  
  .star_2 {
    left: 2.2em;
    top: 1.2em;
  }
  
  .star_3 {
    left: 3em;
    top: 0.9em;
  }
  
  .switch input:checked ~ .slider .star {
    opacity: 0;
  }
  
  .cloud {
    width: 3.5em;
    position: absolute;
    bottom: -1.4em;
    left: -1.1em;
    opacity: 0;
    transition: all 0.4s;
  }
  
  .switch input:checked ~ .slider .cloud {
    opacity: 1;
  }
  
html{
    color-scheme: light;
    background-image: url(crowd-indian-voters-showing-index-finger-after-voting-with-tricolor-brush-effect-election-day_1302-31473.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50px;
    
}
marquee{
    font-size: 20px;
    color: rgb(108, 153, 199);
    background-color: rgb(51, 39, 17);
    margin-top: 20px;
    display: block;
}
marquee a{
    font-weight: 300;
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;
}
h1{
    text-align: center;
    margin-top: 10px;
    color: transparent;
    background: linear-gradient(130deg, rgb(21, 65, 196) 20%, #20cf20 80%, rgb(29, 37, 22) 25%);
    background-clip: text;

}
div button{
    margin-right: 20px;
}
form{
    text-align: center;
    margin-top: 50px;
    border: 2px solid rgb(97, 182, 97);
    backdrop-filter: blur(2px);
    box-shadow: 12px 10px 8px gray;
    margin: 20px 20px;    
}
form label{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-shadow: 10px 14px 13px cadetblue; */
    text-decoration: dashed 5px rgb(155, 122, 185) underline;
}
form input{
    margin-top: 10px;
    font-size: 16px;
}
form button{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 14px;
    transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
form button:hover{
    background-color: rgb(56, 91, 121);
    color: greenyellow;
    box-shadow: 6px 2px 6px wheat;
    font-size: 15px;
    cursor: pointer;
}

