html{
    color-scheme: light;
    background-image: url(crowd-indian-voters-showing-index-finger-after-voting-with-tricolor-brush-effect-election-day_1302-31473.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50px;
    
}
marquee{
    font-size: 20px;
    color: rgb(108, 153, 199);
    background-color: rgb(51, 39, 17);
    margin-top: 20px;
    display: block;
}
marquee a{
    font-weight: 300;
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;
}
h1{
    text-align: center;
    margin-top: 10px;
    color: transparent;
    background: linear-gradient(130deg, rgb(21, 65, 196) 20%, #20cf20 80%, rgb(29, 37, 22) 25%);
    background-clip: text;

}
div button{
    margin-right: 20px;
}
form{
    text-align: center;
    margin-top: 50px;
    border: 2px solid rgb(97, 182, 97);
    backdrop-filter: blur(2px);
    box-shadow: 12px 10px 8px gray;
    margin: 20px 20px;    
}
form label{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-shadow: 10px 14px 13px cadetblue; */
    text-decoration: dashed 5px rgb(155, 122, 185) underline;
}
form input{
    margin-top: 10px;
    font-size: 16px;
}
form button{
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 14px;
    transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
form button:hover{
    background-color: rgb(56, 91, 121);
    color: greenyellow;
    box-shadow: 6px 2px 6px wheat;
    font-size: 15px;
    cursor: pointer;
}
